div.dashboardContainer {
    margin: 1% 0;
    height: 98%;
}
div.menuColumn,
div.calendarColumn {
    backdrop-filter: brightness(40%);
}
div.menuColumn > div.ui.segment {
    font-family: "PT Sans";
    height: 15%;
}
div.menuColumn > div.ui.menu.vertical {
    height: 50%;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-family: "PT Sans";
}
div.menuColumn > div.ui.menu.vertical > div.item {
    color: #ffffff;
    cursor: pointer;
}
div.menuColumn > div.ui.menu > div.item.header {
    font-family: "PT Sans";
    color: #f2711c;
}
.dashboardContainer > .mainContent > div.segment.ui,
.dashboardContainer > .calendarColumn > div.segment.ui {
    height: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.dashboardContainer > .calendarColumn > div.segment.ui {
    justify-content: center;
    align-items: initial;
}
form.exerciseForm > div.fields > div.field > div.ui > div.label,
form.bodyForm > div.fields > div.field > div.ui > div.label {
    background-color: #767676;
    color: #ffffff;
}
div.entryPreview > div.bodyStats {
    display: flex;
    justify-content: center;
}
div.entryPreview > div.memoPreview > div.ui > p {
    color: #f2711c;
}
.deleteRowIcon {
    cursor: pointer;
}
div.accordion > div.segment {
    margin: 0;
    padding: 0;
}
form.ui.form > button.ui.labeled > i.iconLabel {
    color: #ffffff !important;
}
div.calendarExerciseAccordion > div.title {
    color: #f2711c !important;
    font-family: "PT Sans" !important;
}
div.calendarColumn
    > div.segments
    > div.segment
    > div.statistics
    > div.statistic {
    margin: 0 auto;
}
table.renderEntryExercises {
    background-color: transparent !important;
}
table.renderEntryExercises > tr {
    color: #ffffff;
}
table.renderEntryExercises > tbody > tr > td {
    color: #f2711c !important;
}
div.bodyStats > div.statistic > div {
    font-family: "PT Sans" !important;
}
p.noExercises,
div.entryMemo {
    color: #ffffff;
}
