@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap");

body {
    min-height: 100vh;
    font-family: "PT Sans" !important;
    font-size: 1.1rem;
}
input,
::placeholder {
    font-weight: 800 !important;
    font-family: "PT Sans" !important;
}
body > #root {
    height: 100%;
}
body > #root > div {
    height: 100%;
    background: black url("https://training-diary.herokuapp.com/img/home.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 !important;
}
i {
    color: #f2711c !important;
}
h1.ui.header,
h2.ui.header,
h3.ui.header,
h4.ui.header {
    font-family: "PT Sans";
    color: #ffffff;
    margin: 0;
}
